<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<div class="container text-center">
<h3>
  Cette page a été faite par Ibrahima Sory Soumah dans le but de l'apprentissage
  du framework Django un framework populaire du langage Python
</h3>
<a href="{% url 'home' %}" class="btn btn-warning">Acceuil</a><br><br>
<a href="{% url 'motdepasse'%}" class="btn btn-success">Mot de passe</a>
</div>